<div class="spinner-wrapper" *ngIf="isSpinnerLoading">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200"
    viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" display="block" class="spinner">
    <defs>
    </defs>
    <path d="M23 50A27 27 0 0 0 77 50A27 30 0 0 1 23 50" stroke="none">
        <animateTransform attributeName="transform" type="rotate" dur="0.8620689655172413s" repeatCount="indefinite" keyTimes="0;1" values="0 50 51.5;360 50 51.5"></animateTransform>
      </path>
    </svg>
</div>